<%= render 'talents/navbar' %>
<div class="talents" data-controller="swiper">
  <div id="swiper" class="swiper swiper-container">
    <div class="swiper-wrapper">
      <% @talents.each do |talent| %>
        <div class="swiper-slide">
          <%= link_to talent do %>
            <%= render 'talents/talent', talent: talent %>
          <% end %>
          <button data-controller="purchasable" data-purchasable-id-value="<%= talent.id %>" data-purchasable-type-value="Talent" data-action="click->purchasable#click">Shortlist</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
