<div class="frontpage text-center">
  <div class="frontpage-wrapper">
    <%= image_tag "front.png", class: "img-fluid" %>
    <h1>
      Find Your <span>Talent</span>
      <br /> With Us
    </h1>
    <p>
      Join us and explore
      <br /> thousands of people
    </p>
    <%= link_to "Continue", talents_path, class: "btn btn-lg btn-success btn-tada col-12", data: { turbolinks: false } %>

    <!-- <button class="btn btn-lg btn-success col-12">Continue</button> -->
  </div>
</div>
