.frontpage {
  height: 100vh;
  display: flex;
  align-items: center;

  .frontpage-wrapper {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

    h1 {
      margin: 20px 0 10px 0;
      span {
        color: #25f566;
      }
    }
  }
}

.btn-tada {
  background-color: #25f566;
  border-color: #25f566;
}

.swiper {
  padding: 10px;

  .swiper-pagination {
    .swiper-pagination-bullet {
      border: 5px solid #fff;
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
      &.swiper-pagination-bullet-active {
        background-color: #fff;
        border: 1px solid #000;
      }
    }
  }

  .btn {
    margin-top: 10px;
  }
}

.talents {
  // height: calc(100vh - 66px);
  display: flex;
  align-items: center;

  a {
    color: #000;
  }

  .profile {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
}

.talents-show {
  .talents {
    height: 100%;
  }
  .profile {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}

.talent {
  .social {
    a {
      color: #333;
    }
  }
}

.navbar {
  margin-bottom: 10px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%);
}

@media (min-width: 375px) {
  body {
    display: flex;
    justify-content: center;
  }
  .phone {
    width: 375px;
    height: 812px;
  }
}
