.frontpage {
  height: 100vh;
  display: flex;
  align-items: center;

  .frontpage-wrapper {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

    h1 {
      margin: 20px 0 10px 0;
      span {
        color: #25f566;
      }
    }
  }
}

.btn-tada {
  background-color: #25f566;
  border-color: #25f566;
}

.swiper {
  padding: 10px;
}

.talents {
  // height: calc(100vh - 66px);
  display: flex;
  align-items: center;
}

.talents-show {
  .talents {
    height: 100%;
  }
}

.talent {
  .social {
    a {
      color: #333;
    }
  }
}

.navbar {
  margin-bottom: 10px;
}

.profile {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 375px) {
  body {
    display: flex;
    justify-content: center;
  }
  .phone {
    width: 375px;
    height: 812px;
  }
}
