.frontpage {
  height: 100vh;
  display: flex;
  align-items: center;

  .frontpage-wrapper {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

    h1 {
      margin: 20px 0 10px 0;
      span {
        color: #25f566;
      }
    }
  }
}

.btn-tada {
  background-color: #25f566;
  border-color: #25f566;
}

.swiper {
  padding: 10px;
}

.talents {
  height: 100vh;
  display: flex;
  align-items: center;
}

.talent {
  .social {
    a {
      color: #333;
    }
  }
}
